/* Doctype CSS */
*{
    box-sizing: border-box;
}

body{
    margin:16px;
    height: 95vh;
}

.gridContainer{
    display: grid;
    height: 90vh;
}

.gridItem{
    border:1px solid green;
}

.drawn{
    background-color: rgb(138, 43, 226);
}
#reset{
    padding: 8px;
}
.controls{
    display: flex;
    justify-content: center;
    margin: 8px 0px 16px 0px;
}